<div class="bg-white rounded-lg p-4 shadow-sm border border-gray-200">
  <div class="justify_between_container">
    <span class="small_para"><%= comment.user&.name || "Anonymous" %></span>
    <span class="normal_para"><%= comment.created_at.strftime("%b %d, %Y %H:%M") %></span>
  </div>
  <hr class="border-t border-gray-300 mb-4 mt-1">
  <p class="light_para"><%= comment.text %></p>
</div>
