<div data-comment-form-target="form" class="<%= hidden_class %> w-full">
  <%= form_with(model: [issue, comment || issue.comments.build], local: true, class: "flex flex-col sm:flex-row gap-2 w-full") do |f| %>
    <%= render InputFieldComponent.new(
      form_builder: f,
      attribute: :text,
      type: :text,
      size: :lg,
      placeholder: "Write a comment...",
      label: false,
      required: false,
      class: "mb-0"
    ) %>
    <%= render(ButtonComponent.new(
      type: :submit,
      size: :sm,
      class: "sm:w-auto w-full mb-4",
      data: { action: "click->comment-form#toggle" }
    )) do %>
      Post
    <% end %>
  <% end %>
</div>
