<div data-comment-form-target="form" class="<%= hidden_class %> flex flex-col gap-2 w-full">
  <%= form_with(model: [issue, comment || issue.comments.build], local: true, class: "flex gap-2 items-center") do |f| %>
    <%= f.text_field :text, placeholder: "Write a comment...", class: "text_inp" %>
    <%= f.submit "Post", data: { action: "click->comment-form#hideForm" }, class: "btn_primary py-2" %>
  <% end %>
</div>
