<% content_for :title, "Editing Issue" %>

<div class="container mx-auto px-4 py-8 max-w-3xl">
  <div class="bg-white p-8 rounded-sm shadow-xl border border-gray-200">
    <div class="justify_between_container">
      <div class="flex flex-col items-start">
        <h1 class="heading_base">Editing Issue</h1>
        <p class="light_para">Change the details below to update issue.</p>
      </div>
      <%= link_to "Back to Project", project_path(@issue.project),
        class: "btn_outline_white py-2" %>
    </div>
    
    <div class="mx-auto w-full mt-6">
      <%= render "form", issue: @issue %>
    </div>
  </div>
</div>
