<% content_for :title, "New Issue" %>
<div class="container mx-auto px-4 py-8 max-w-3xl">
  <div class="bg-white p-4 sm:p-8 rounded-lg shadow-xl border border-gray-200">
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-3 sm:gap-0">
      <div class="flex flex-col items-start">
        <%= render(HeadingComponent.new(level: :h3, margin_bottom: false)) do %>
          Creating New Issue
        <% end %>
        <%= render ParaComponent.new(variant: :extra_small, weight: :normal) do %>
          Fill out the details below to create a new issue in your project.
        <% end %>
      </div>

      <%= render LinkComponent.new(href: project_path(@project), variant: :outline, class: "w-full sm:w-auto") do %>
        Back to Project
      <% end %>
    </div>
    <div class="mx-auto w-full mt-6">
      <%= render "form", issue: @issue %>
    </div>
  </div>
</div>
