<%
  resource = local_assigns[:resource]
  resource_name = resource.class.name.downcase
%>

<div class="flex justify-end">
  <%= render(LinkComponent.new(
    href: polymorphic_path(resource), 
    icon: '<i class="fa fa-eye"></i>', 
    variant: :icon_only, 
    size: :sm
  )) %>
  
  <%= render(LinkComponent.new(
    href: polymorphic_path([:edit, resource]), 
    icon: '<i class="fa fa-edit"></i>', 
    variant: :icon_only, 
    size: :sm
  )) %>
  
  <%= form_with model: resource, method: :delete, class: "inline" do %>
    <%= render(ButtonComponent.new(
      type: :submit,
      variant: :icon_only,
      size: :sm,
      icon: '<i class="fas fa-trash-alt"></i>',
      data: { turbo_confirm: "Are you sure you want to delete this #{resource_name}?" }
    )) %>
  <% end %>
</div>