<% content_for :title, "New Project" %>
<div class="flex justify-center items-center mx-auto mt-40 w-full max-w-xl px-4">
  <div class="w-full sm:p-10 p-5 bg-white rounded-lg shadow-xl">
    <div class="flex justify-start items-center">
      <%= render(HeadingComponent.new(level: :h3, color: :default, weight: :bold, margin_bottom: false)) do %>
        Create Project
      <% end %>
    </div>
    <%= render "form", project: @project %>
  </div>
</div>
