<% content_for :title, "New Project" %>

<div class="container mx-auto px-4 py-8 max-w-2xl">
  <div class="bg-white p-8 rounded-lg shadow-xl mt-40">
    <div class="justify_between_container">
      <h1 class="heading_base">New Project</h1>
      <%= link_to "Back to Projects", projects_path, class: "btn_outline_primary py-2" %>
    </div>
    <%= render "form", project: @project %>
  </div>
</div>
